<h1>Edit User</h1>

<%= form_for @user do |form| %>
  <% if flash[:notice] %>
    <div>
      <%= flash[:notice] %>
    </div>
  <% end %>

  <%= form.label :role %>
  <%= form.select :role, User.roles.keys%>
  
  <%= form.submit "Update User" %>
<% end %>
