<h1>Edit User</h1>

<%= form_with(model: @user) do |form| %>
  <% if flash[:notice] %>
    <div>
      <%= flash[:notice] %>
    </div>
  <% end %>

  <%= form.label :role %>
  <%= form.select :role, User.roles.keys, include_blank: true %>
  <%= form.hidden_field :role, value: @user.role %>

  <%= form.submit "Update User" %>
<% end %>
