<%= form_with url: reset_password_path, method: :post do |form| %>
    <% if flash[:notice] %>
        <div>
            <%= flash[:notice] %>
        </div>
    <% end %>
    <div>
        <%= form.label :email %>
        <%= form.email_field :email%>
    </div>
    
    <%= form.submit "Submit"%>
<% end %>

