<h2>All Projects</h2>

<% if flash[:notice]%>
    <div>
        <%=flash[:notice]%>
    </div>
<%end%>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Creator</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @projects.each do |project| %>
            <tr>
                <td><%= project.name %></td>
                <td><%= project.description %></td>
                <td><%= project.user.name %></td>
                <td>
                    <%= link_to 'Edit', edit_project_path(project) %>
                    <%= link_to 'Delete', project_path(project), data: {turbo_method: :delete, turbo_confirm: "Are You Sure ?"} %>
                </td>
            </tr>
        <%end%>
    </tbody>
</table>